extends layout

block content
  h1= title
  p.
    A Node.JS learning project, capturing images from a series of webcams around the British Virgin Islands.
  p.
    [<a href="https://github.com/agentcox/CollectQANImages">Get the Source</a>][<a href="mailto:charles.cox@gmail.com">Contact the Author</a>]
  p.
    Camera: [<a href="/">Quart-A-Nancy Point</a>][<a href="/robbwhite">Marina Cay</a>][<a href="/roadtown">Road Town</a>]
  each item in items
    h2=item.date
    each subitem in item.items
      div(class='img')
        a(href='#{subitem.filename}')
          img(src='#{subitem.filename}' width='300' height='225')
        div(class = 'desc')
          p #{subitem.date}
    div(style='clear:both')